---
import Layout from "@layouts/Layout.astro";
import {SelectDev, SwitchDev, RadioDev, ButtonDev} from "@components/Experiment"
const options = [
{ value: "apple", label: "Apple", disabled: false },
  { value: "banana", label: "Banana", disabled: false },
  { value: "blueberry", label: "Blueberry", disabled: false },
  { value: "grapes", label: "Grapes", disabled: true },
  { value: "pineapple", label: "Pineapple", disabled: false },
];
---
<Layout title={"components"}> 
	<div class="p-8">
	<SelectDev client:load />
	<SwitchDev client:load />
	<ButtonDev client:load />
</div>
<div>
	
</div>

</Layout>