@media (prefers-color-scheme: light) {
  :root {
    --clrSurface: 90, 3%, 12%; /* hsl(90,3%,12%) */
    --clrBase: 72, 46%, 98%; /* hsl(72, 46%, 98%) */
    --clrPrimary: 20, 100%, 56%; /* hsl(20, 100%, 56%) */
    --clrSecondary: 75, 89%, 56%; /* hsl(75, 89%, 56%) */
    --clrTertiary: 240, 96%, 68%; /* hsl(240, 96%, 68%) */
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --clrSurface: 72, 46%, 98%; /* hsl(72, 46%, 98%) */
    --clrBase: 90, 3%, 12%; /* hsl(90,3%,12%) */
    --clrPrimary: 20, 100%, 56%; /* hsl(20, 100%, 56%) */
    --clrSecondary: 75, 89%, 56%; /* hsl(75, 89%, 56%) */
    --clrTertiary: 240, 96%, 68%; /* hsl(240, 96%, 68%) */
  }
}
/* SELF HOSTED FONTS */

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("/fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.video-js {
  width: 100% !important;
  height: 100% !important;
  padding-top: 0 !important;
}
.video-js video,
.video-js img {
  object-fit: cover;
}
.vjs-big-play-button {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 9999px !important;
  height: 6rem !important;
  width: 6rem !important;
  display: inline-grid !important;
  place-content: center !important;
  padding: 0 !important;
  line-height: 2 !important;
  border: none !important;
  background: #f3f3f3 !important;
  color: #9c9c9c !important;
}
.vjs-big-play-button:hover {
  background: hsl(20, 100%, 56%) !important;
}
.vjs-has-started .vjs-big-play-button {
  display: none !important;
}
.vjs-progress-control.vjs-control {
  width: 100%;
  position: absolute;
  top: -100%;
}
.vjs-playback-rate {
  display: inline-block !important;
}
.vjs-big-play-button:hover .vjs-icon-placeholder:before {
  color: white !important;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

/* gradients some things just are simpler outside of utility css, but it's nice to still have easy media queries that line up with uno breakpoitns */
.y-scroll-gradient {
  background-image: linear-gradient(
    0deg,
    hsla(20, 100%, 56%, 1) 0%,
    hsla(20, 100%, 56%, 0) 55%,
    hsla(20, 100%, 56%, 0) 75%,
    hsla(20, 100%, 56%, 1) 100%
  );
}
@media (prefers-color-scheme: dark) {
  .y-scroll-gradient {
    background-image: linear-gradient(
      0deg,
      hsla(90, 3%, 11%, 1) 0%,
      hsla(90, 3%, 12%, 0) 55%,
      hsla(90, 3%, 12%, 0) 75%,
      hsla(90, 3%, 11%, 1) 100%
    );
  }
}
@screen sm {
  .x-scroll-gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1) 1%,
      rgba(0, 0, 0, 0) 2%,
      rgba(0, 0, 0, 0) 97%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }
}
