/* SELF HOSTED FONTS */

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.video-js {
  width: 100% !important;
  height: 100% !important;
  padding-top: 0 !important;
}
.video-js video,
.video-js img {
  object-fit: cover;
}
