/* SELF HOSTED FONTS */

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.video-js {
  width: 100% !important;
  height: 100% !important;
  padding-top: 0 !important;
}
.video-js video,
.video-js img {
  object-fit: cover;
}
.vjs-big-play-button {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 9999px !important;
  height: 4rem !important;
  width: 4rem !important;
  display: inline-grid !important;
  place-content: center !important;
  padding: 0 !important;
  line-height: 2 !important;
  border: none !important;
  background: #f3f3f3 !important;
  color: #9c9c9c !important;
}
.vjs-has-started .vjs-big-play-button {
  display: none !important;
}
.vjs-progress-control.vjs-control {
  width: 100%;
  position: absolute;
  top: -100%;
}
.vjs-playback-rate {
  display: inline-block !important;
}
.x-scroll-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.2) 1%,
    rgba(0, 0, 0, 0) 3%,
    rgba(0, 0, 0, 0) 97%,
    rgba(0, 0, 0, 0.2) 100%
  );
}
